#contenedorConsolidado {
  font-family: 'Muli', Heveltica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  line-height: 1.5;
  /*evita que se pueda seleccionar el texto en la barra*/
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; 
}

#tableConsolidado {
  height: calc(100vh - 77px);
  margin: 10px;
}

#cargar {
  height: 30px;
  font-size: 12px;
}

/* Estilos Popoever */
.popover #edit {
  color: #28a745;
}

/*Calendar*/
#calendar, #calendarPlanning, #calendarPlanning2 {
  background: #fff;
  cursor: pointer;
  padding: 5px 10px;
  border: 1px solid #CCC;
  width: 170px;
  height: 32px;
  border-radius: .25rem;
  font-size: 11px!important;
}

.accordionGraph * {
  font-size: 11px!important; 
}

.drp-buttons .btn-primary {
    background-color: #357ebd;
    border-color: transparent;
    color: #fff;
}

.drp-buttons .btn-primary:focus {
  background-color: #2B74B3 !important;
    border-color: transparent;
    color: #fff;
}

div.daterangepicker.opensright {
  overflow-y: auto;
  max-height: 290px;
}

#calendar:hover, #calendarPlanning:hover, .menu .btn-light:hover, 
#calendarPlanning2:hover {
  background-color: #f2f2f2;
}

#calendar:focus, #calendarPlanning:focus, #calendarPlanning2:focus, 
.menu .btn-light:focus, .menu .form-control:focus {
    color: #495057 !important;
    background-color: #FFF !important;
    border-color: #CCC !important;
    outline: 0 !important;
    box-shadow: none !important;
}
/*Fin Calendar*/

/*Estilos del menú de configuracion*/
#divSelectVista .dropdown.bootstrap-select {
  height: 32px!important;
  width: 170px!important;
  margin-right: 10px!important;
  margin-bottom: 5px!important;
}

.bootstrap-select * {
  font-size: 11px!important;
}

#calendarPlanning {
  margin-right: 10px;
}
/*FIN Estilos del menú de configuracion*/

/**** Select ****/
#contenedorConsolidado .container_Select,
#contenedorConsolidado .divForm {
  padding: 0;
  width: 100%;
  padding-left: 5px;
  padding-right: 5px;
  white-space: nowrap;
}

#contenedorConsolidado .container_Select{
  position: relative;
}

#contenedorConsolidado .container_Select .bootstrap-select {
  width: 100%;
}

#contenedorConsolidado .container_Select > label {
   color: #999;
   position: absolute;
   pointer-events: none;
   text-overflow: ellipsis;
   overflow: hidden;
   max-width: calc(100% - 30px);
   z-index: 1;
   background-color: white;
   padding: 0px 8px;
   left: 14px;
   top: -11px;
   font-size: 13px;
}

#contenedorConsolidado .container_Select button.dropdown-toggle,
#contenedorConsolidado .btn-light:active{
   background: white !important;
}

#contenedorConsolidado .bootstrap-select .dropdown-toggle:focus {
  outline: 0 !important;
}

#contenedorConsolidado #info_reg_ .bootstrap-select button.dropdown-toggle {
  padding: .25rem .5rem;
  font-size: .875rem;
  line-height: 1.5;
  border-radius: .2rem;
}

#contenedorConsolidado .bootstrap-select .dropdown-toggle:focus,
#divForm .bootstrap-select .dropdown-toggle:focus {
   outline: 0 !important;
}

@media only screen and (max-width: 670px) {
  #contenedorConsolidado {
    background-size: contain;
  }
}

a {
  outline: none!important;
}

.dataTableStyle {
  margin: 0px;
}

/*Navbar*/
.wrapper {
  border-top-right-radius: .25rem;
  border-top-left-radius: .25rem;
  border-top: 1px solid rgb(216, 216, 216);
  border-left: 1px solid rgb(216, 216, 216);
  border-right: 1px solid rgb(216, 216, 216);
  position:relative;
  margin:0 auto;
  overflow:hidden;
  padding:5px;
  height:34px;
}

.wrapper .nav-tabs .nav-link, .wrapper .nav-tabs .nav-link {
  border-color: #dee2e6 #dee2e6 #dee2e6;
  border-bottom: none;
  color: #666;
  font-size: 11px;
}

.wrapper .active {
  margin-bottom: -1px;
}

.wrapper .nav-tabs .nav-link:hover {
  border-color: #dee2e6 #dee2e6 #dee2e6;
  border-bottom: none;
  color: black;
  background-color: rgb(252,252,252);
  margin-bottom: -1px;
}

.wrapper .nav-tabs {
background-color: #f7f7f7;
}

.tab-pane {
border: 1px solid #ccc;
  border-top: none;
  height: calc(100vh - 112px);
}

@media only screen and (max-width: 992px) {
.tab-pane {
  height: calc(100vh - 18px);
}
}

@media only screen and (max-width: 768px) {
.tab-pane {
  height: calc(100vh + 20px);
}
}

@media only screen and (max-width: 576px) {
.tab-pane {
  height: calc(100vh + 63px);
}
}

.list {
  position:absolute;
  left:0px;
  top:0px;
  min-width:3500px;
  margin-top:-1px;
  margin-left: -1px;
}

.list li{
  display:table-cell;
  position:relative;
  text-align:center;
  cursor:grab;
  cursor:-webkit-grab;
  color:#efefef;
  vertical-align:middle;
}

.scroller {
font-size: 17px;
border: 1px solid #dee2e6;
text-align:center;
cursor:pointer;
display:none;
padding:7px;
padding-top:0px;
white-space:no-wrap;
vertical-align:middle;
background-color:#fff;
}

.scroller i {
font-size: 11px;
}

.scroller-right{
border-top-right-radius: .25rem;
float:right;
}

.scroller-left {
border-top-left-radius: .25rem;
float:left;
}
/****/

/* Modal */
#contenedorConsolidado .modal-header{
  border-bottom: none;
}

#contenedorConsolidado .modal-body{
  margin-right: 0;
  margin-left: 0;
}

#contenedorConsolidado .modal-footer{
  border-top: none;
}

#contenedorConsolidado .modal-header h4{
  padding: 0;
  width: -webkit-fill-available;
  text-align: center;  
}

#contenedorConsolidado .modal-header h4 span{
  height: 100%;
  background: #017350;
  margin-right: 6px;
  padding: 1px 6px;
  border-radius: 10px 3px 10px 3px;
  color: #fff;
}

#contenedorConsolidado .modal-header button.close{
  margin: 0;
  padding: 6px 6px;
}

#contenedorConsolidado .modal-footer :last-child{
  margin-right: 5px;
}

@media only screen and (min-width: 480px) and (max-width: 679px) {
  #contenedorConsolidado #ContenedorOpc {
    grid-template-columns: repeat(2, 1fr);
  }
  #contenedorConsolidado .modal-dialog {
    max-width: 100%;
  }
}

@media only screen and (min-width: 680px) and (max-width: 899px) {
  #contenedorConsolidado #ContenedorOpc {
    grid-template-columns: repeat(3, 1fr);
  }
  #contenedorConsolidado .modal-dialog {
    max-width: 70%;
    margin: 2rem auto;
  }
}

@media only screen and (min-width: 900px) and (max-width: 1199px) {
  #contenedorConsolidado #ContenedorOpc {
    grid-template-columns: repeat(4, 1fr);
  }
  .modal-dialog {
    max-width: 60%;
    margin: 5rem auto;
  }
}

@media only screen and (min-width: 1200px){
  #contenedorConsolidado #ContenedorOpc {
    grid-template-columns: repeat(4, 1fr);
  }
  .modal-dialog {
    max-width: 50%;
    margin: 5rem auto;
  }
}

@media only screen and (min-width: 1200px){
  .modal-dialog-2 {
    max-width: 30%;
    margin: 5rem auto;
  }
}

/*****ERROR******/
.errorInput{
  border: solid 2px red !important;
}

.errorInput:focus ~ label, .errorInput:valid ~ label {
 color: red !important;
}

#contenedorConsolidado .modal .modal-title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-size: 18px;
  margin: 6px 6px 7px 6px;
}
#contenedorConsolidado .modal .modal-title span:first-child {
  height: 100%;
  background: #017350;
  margin-right: 6px;
  padding: 1px 6px;
  border-radius: 10px 3px 10px 3px;
  color: #fff;
}
#contenedorConsolidado .modal .modal-title span:last-child {
  height: 100%;
  font-weight: 500;
}

#contenedorConsolidado .modal .infoFinca {
  margin: 20px 1px 0px 1px;
}

#contenedorConsolidado .modal button.dropdown-toggle {
  border: 1px solid #ccc;
}

#contenedorConsolidado .contenedorInput {
  position: relative;
  width: 100%;
  padding-left: 5px;
  padding-right: 5px;
  white-space: nowrap;
}

#contenedorConsolidado  input {
  font-size: 18px;
  padding: 8px 0px 5px 12px;
  border-radius: 4px;
  display: block;
  border: 1px solid #ced4da;
  width: 100%;
  outline: 0;
  height: 38px;
  transition: border-color 0.3s;
}

#contenedorConsolidado  input:focus {
  border: 2px solid #007bff;
  outline: none;
}

#contenedorConsolidado  input:disabled {
  color: gray;
  cursor: not-allowed;
  background: #fafafa;
}

#contenedorConsolidado label {
  color: #999;
  font-size: 16px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 24px;
  top: 6px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: calc(100% - 30px);
}

#contenedorConsolidado input:focus ~ label {
  color: #007bff !important;
}

#contenedorConsolidado input:disabled:not(:placeholder-shown) ~ label,
#contenedorConsolidado input:valid ~ label,
#contenedorConsolidado input:focus ~ label,
#contenedorConsolidado input.InputFecha ~ label {
  background-color: white;
  padding: 0px 8px;
  left: 20px;
  top: -12px;
  font-size: 14px;
}


#contenedorConsolidado  input.InputFecha {
  cursor: pointer;
  text-align: center;
  padding: 8px 0px 5px 0px;
}

#contenedorConsolidado  input.errorInput:focus ~ label {
  color: red !important;
}

#contenedorConsolidado .container_btn_control {
  text-align: end;
  margin-bottom: 8px;
  margin-right: auto !important;
  margin-left: auto !important;
}

/**** Select ****/
#contenedorConsolidado .container_Select {
  padding: 0;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  white-space: nowrap;
}

#modal .bootstrap-select * {
  font-size: 18px!important;
}

#contenedorConsolidado .container_Select{
  position: relative;
}

#contenedorConsolidado .container_Select .bootstrap-select {
  width: 100%;
}

#contenedorConsolidado .container_Select > label {
  color: #999;
  position: absolute;
  pointer-events: none;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: calc(100% - 30px);
  z-index: 1;
  background-color: white;
  padding: 0px 8px;
  left: 20px;
  top: -11px;
  font-size: 13px;
}

#contenedorConsolidado .container_Select button.dropdown-toggle,
#contenedorConsolidado .btn-light:active{
  background: white !important;
}

#contenedorConsolidado .container_Select button.dropdown-toggle{
  font-size: 18px!important;
  width: 100%!important;
  height: 38px!important;
}

#contenedorConsolidado .bootstrap-select .dropdown-toggle:focus {
  outline: 0 !important;
}

#contenedorConsolidado #info_reg_ .bootstrap-select button.dropdown-toggle {
  padding: .25rem .5rem;
  font-size: .875rem;
  line-height: 1.5;
  border-radius: .2rem;
}

#contenedorConsolidado .bootstrap-select .dropdown-toggle:focus,
#divForm .bootstrap-select .dropdown-toggle:focus {
  outline: 0 !important;
}

@media only screen and (max-width: 670px) {
  #contenedorConsolidado {
    background-size: contain;
  }
}

a {
  outline: none!important;
}

#contenedorConsolidado .modal textarea {
  font-size: 18px!important;
  padding: 8px 0px 5px 12px!important;
  border-radius: 4px!important;
  display: block!important;
  border: 1px solid #ced4da!important;
  width: 100%!important;
  outline: 0!important;
  height: 38px!important;
  transition: border-color 0.3s!important;
}

#contenedorConsolidado .modal textarea:focus {
  border: 2px solid #007bff!important;
  outline: none!important;
}

#contenedorConsolidado .modal textarea:focus ~ label {
  color: #007bff !important;
}

#contenedorConsolidado .modal textarea:valid ~ label,
#contenedorConsolidado .modal textarea:focus ~ label {
  background-color: white!important;
  padding: 0px 8px!important;
  left: 20px!important;
  top: -12px!important;
  font-size: 14px!important;
}

#contenedorConsolidado .modal textarea {
    height: 114px!important;
    resize: none!important;
    margin-bottom: 16px!important;
}

#contenedorConsolidado .modal textarea::-webkit-scrollbar-track
{
  background-color: transparent;
}

#contenedorConsolidado .modal textarea::-webkit-scrollbar
{
  height: 8px;
  width: 8px;
}

#contenedorConsolidado .modal textarea::-webkit-scrollbar-thumb
{
  border-radius: 30px;
  background-color: #999;
  width: calc(100vw - 64px);
  margin: 0;
  padding: 10px 8px !important;
}