#contenedor_Bioseguridad {
  font-family: 'Muli', Heveltica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  line-height: 1.5;
  /*evita que se pueda seleccionar el texto en la barra*/
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.d_flex > div.bootstrap-select{
  margin-left: 5px;
  margin-bottom: 10px
}

#tableBioseguridad {
  height: calc(100vh - 117px);
  margin: 10px;
}

#divtabla_0 {
  padding: 0px;
  margin: 0px;
}

#cargar {
  height: 30px;
  font-size: 12px;
}

.fa-redo {
  margin-right: 5px;
}

/* Estilos Popoever */
.popover #edit {
  color: #17a2b8;
}

.popover #delete {
  color: #A72828;
}

/*Calendar*/
#calendar, #calendarPlanning, #calendarPlanning2 {
  background: #fff;
  cursor: pointer;
  padding: 5px 10px;
  border: 1px solid #CCC;
  width: 170px;
  height: 32px;
  border-radius: .25rem;
  font-size: 11px!important;
}

.accordionGraph * {
  font-size: 11px!important; 
}

.drp-buttons .btn-primary {
    background-color: #357ebd;
    border-color: transparent;
    color: #fff;
}

.drp-buttons .btn-primary:focus {
  background-color: #2B74B3 !important;
    border-color: transparent;
    color: #fff;
}

div.daterangepicker.opensright {
  overflow-y: auto;
  max-height: 290px;
}

#calendar:hover, #calendarPlanning:hover, .menu .btn-light:hover, 
#calendarPlanning2:hover {
  background-color: #f2f2f2;
}

#calendar:focus, #calendarPlanning:focus, #calendarPlanning2:focus, 
.menu .btn-light:focus, .menu .form-control:focus {
    color: #495057 !important;
    background-color: #FFF !important;
    border-color: #CCC !important;
    outline: 0 !important;
    box-shadow: none !important;
}
/*Fin Calendar*/
.spinner-border {
  font-size: 30px;
  position: relative;
  top: calc(50vh - 25px);
  left: calc(50% - 30px);
  width: 60px;
  height: 60px;
}

/*Estilos del menú de configuracion*/
.dropdown.bootstrap-select {
  height: 32px!important;
  width: 170px!important;
  margin-right: 10px!important;
  margin-bottom: 5px!important;
}

.bootstrap-select * {
  font-size: 11px!important;
}

#calendarPlanning {
  margin-right: 10px;
}
/*FIN Estilos del menú de configuracion*/
#main_ext {
  width: calc(100% - 20px);
  height: calc(100vh - 77px);
  overflow: auto;
}

#main {
  min-width: 530px;
}

.c_shadow {
  padding: 20px 40px;
  margin: 20px 10px;
}

#main_ext::-webkit-scrollbar-track
{
 background-color: transparent;
}

#main_ext::-webkit-scrollbar
{
 height: 8px;
 width: 8px;
}

#main_ext::-webkit-scrollbar-thumb
{
  border-radius: 30px;
  background-color: #999;
  margin: 0;
  padding: 10px 8px !important;
}

#main i {
  color: #046d4d;
  font-weight: 600;
}

#main i.fa-arrow-alt-circle-left {
  color: white;
}

#main b {
  color: #046d4d;
}

#main h6 {
  color: #046d4d;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 20px;  
}

.divBoton {
  display: flex;
  padding-right: 10px;
}

#volver {
  margin-left: auto;
}

/*tablas*/
.table td, .table th {
  padding: 5px;
}

#main .fa-camera {
  font-size: 20px;
  color: black;
}

#main .fa-camera:hover {
  font-size: 21px;
  color: #046d4d;
}

#main .fa-camera:active {
  font-size: 19px;
  color: #046d4d;
}

#main table th:nth-child(1) {
  min-width: 54px!important;
  width: 54px!important;
  max-width: 54px!important;
}

#main table th:nth-child(3) {
  min-width: 160px!important;
  width: 160px!important;
  max-width: 160px!important;
}

#main table th:nth-child(4) {
  min-width: 76px!important;
  width: 76px!important;
  max-width: 76px!important;
}

/*moda*/
.swal2-popup .swal2-close {
  top: -3px;
  right: 0px;
}